


header {
  width:100%;
  position:static;
  left:0;
  right:0;
  cursor:pointer;
  z-index:999;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 100px;
    margin:0;
    top:0;
    left:0;
    right:0;
    width:100%;
    min-height: 100vh;


  }

  main {
    flex: 1 0 auto;
    width:100%;
    height: 100%;
    height:auto;
    display:block;
  }

  footer {
   position:fixed;
   left:0px;
   bottom:0px;
   min-height:60px;
   width:100%;
   z-index:999;
}

#modal1 {
  z-index: 99999;
  color: #59585a
  background-color:white;
  font-family: 'Arial';
  text-align: justify;


}

#container_intro {
  min-height: 400px;
  min-width: 300px;
  margin-left: 0em;
  margin-top: -3em;
  background: transparent;
  position: static;
  display:flex;
  z-index: -1;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}

#container_intro4, #container_pro, #container_pro2, #container_health, #container_health2, #container_edu_girls, #container_edu_boys, #container_SM, #container_foodsec, #container_nfi, #container_shelter, #container_comms, #container_livli, #container_expen {
  min-height: 800px;
  min-width: 1225px;
  margin-left: -25em;
  margin-top: 0em;
  background: transparent;
  position: static;
  display:flex;
  z-index: -1;

}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}

.highcharts-data-label {
  font-family: 'Arial';
  opacity: 0.65;
}

.highcharts-legend-title {
  fill: #59585a;
  font-style: bold;
  font-size: 5em;
  letter-spacing: 0em;
  margin-bottom: 1em;
}

.highcharts-tooltip {
  font-family: 'Arial';
  color: #acacad;
  letter-spacing: 0em;
  font-size: 16px;
}

#chartpro1, #chartProCamp {
  height: 350px;
  width: 325px;
  margin-top: 1em;
  margin-left: 0em;
  background: transparent;
  z-index: 99999;

}

.highcharts-title {
  fill: #434348;
  font-weight: bold;
  font-family: 'Arial';
  color: #59585A;
  letter-spacing: 0em;
  font-size: 12px;
}

#title {
  height: 100%;
  width: 500px;
    font-family: 'Arial';

}

dropdown-trigger{
  height: 100%;
  width: 400px;
    font-family: 'Arial';

}

#textbox {
  height: 100%;
  width: 475px;
  margin-left: 1.5em;
  margin-top: -0.2em;
  font-size: 12px;
  letter-spacing: 0em;
  font-family: 'Arial';
  background-color: #f0f0f0;
  border-style: solid;
  border-color: #9fc9e7;
  border-width: 0px;
  opacity: 0.8;
  padding: 10px;
  text-align: justify;
  z-index:99999;
}

#chartrisksboys, #chartRiskBoysCamp, #chartrisksgirls, #chartRiskGirlsCamp, #charthealth, #charthealthseeking, #chartEduBoys, #chartEduBoysCamp, #chartEduGirls, #chartEduGirlsCamp, #chartnfi, #chartNfiCamp, #chartshelter, #chartExpenCamp, #chartlivli3 {
  height: 320px;
  width: 350px;
  margin-top: 1.5em;
  margin-left: 0em;
  background: transparent;
  z-index: 99999;
}

.highcharts-title {
  fill: #434348;
  font-weight: bold;
  font-family: 'Arial';
  color: #59585a;
  font-size: 12px;
  letter-spacing: 0em;
}

.highcharts-legend-title {
  font-family: 'Arial';
  color: #acacad;
  letter-spacing: 0em;
  font-size: 10px;
}

#chartsm1, #chartsm2, #chartSMCamp, #chartcomms, #chartlivli, #chartlivli2 {
  height: 250px;
  width: 350px;
  margin-top: 1.5em;
  margin-left: 0em;
  background: transparent;
  z-index: 99999;

}

.highcharts-title {
  fill: #434348;
  font-weight: bold;
  font-family: 'Arial';
  color: #59585a;
  font-size: 12px;
  letter-spacing: 0em;
}

.highcharts-legend-title {
  font-family: 'Arial';
  color: #acacad;
  letter-spacing: 0em;
  font-size: 10px;
}

#chartfoodsec, #chartfoodsec2, #chartfoodsec3, #charthealth2, #chartcomms3 {
  height: 200px;
  width: 325px;
  margin-top: 1.5em;
  margin-left: 0em;
  background: transparent;
  z-index: 99999;

}

.highcharts-title {
  fill: #434348;
  font-weight: bold;
  font-family: 'Arial';
  color: #59585a;
  letter-spacing: 0em;
  font-size: 12px;
}

.highcharts-legend-title {
  font-family: 'Arial';
  color: #acacad;
  letter-spacing: 0em;
  font-size: 10px;
}

#tabs {
  border-right: 1.6px solid #ffff;
  border-left: 1.6px solid #ffff;
  z-index: 9999;
}

.li {
  border-right: 1.6px solid #ffff;
  border-left: 1.6px solid #ffff;

}

.tabs .active {
  background: linear-gradient(to right,#0371c0,#479ddb) fixed;
  border-right: 1.8px solid #FAEB00;
  border-left: 1.8px solid #FAEB00;

}

.a:hover {
color:#9fc9e7}


#tab {

}

.tabs .tab a {
    color: #fff;
    font-size: 13px;
    letter-spacing: 0em;
    text-transform: capitalize;


}

.tabs .tab a:hover {
	color: #fff;}



#dropdown1, #dropdown2, #dropdown3, #dropdown4, #dropdown5, #dropdown6 {
  position: absolute;
  z-index: 99999;
  coverTrigger: false;
}

.li {
  coverTrigger: false;
  height: 350px;
}
.active {
  background-color: #0371c0;
  border-right: 1.8px solid #FAEB00;
  border-left: 1.8px solid #FAEB00;

}

.dropdown-trigger {

}

  a:hover {
color:#9fc9e7}

.nav-wrapper {
background: linear-gradient(to right,#424242,#727272) fixed;}
.nav-extended {
background: linear-gradient(to right,#424242,#727272) fixed;}
.nav-content {
background: linear-gradient(to right,#424242,#727272) fixed;}

.tabs {
background: linear-gradient(to right,#424242,#727272) fixed;}
.brand-logo {
background: linear-gradient(to right,#424242,#727272) fixed;}
.page-footer{
background: linear-gradient(to right,#424242,#727272) fixed;}
.footer-copyright{
background: linear-gradient(to right,#424242,#727272) fixed;}
.modal-footer{
background: linear-gradient(to right,#424242,#727272) fixed;}
