
#container_intro2 {
    height: 550px; 
    width: 50%; 
    margin-left: 32em; 
	margin-top: -15em; 
	background: transparent;
	position: absolute;
	z-index: 99999;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

#container_intro {
    height: 760px; 
    width: 30%; 
    margin-left: 22em; 
	margin-top: 3em; 
	background: transparent;
	position: absolute;
		z-index: 1;

}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

#container_pro, #container_health,#container_foodsec {
    height: 800px;
    width: 1350px;
    margin-left: 5em;
	margin-top: -10.5em;
	background: transparent;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.highcharts-title {
	color: #59585a;
    letter-spacing: 0.3em;
    font-size: 20px;
}
.highcharts-data-label {
	font-family: 'Helvetica';
	opacity:0.65;	
}

.highcharts-legend-title {
	fill: #59585a;
	font-style: bold;
	font-size: 5em;
}

.highcharts-tooltip {
	font-family: 'Arial';
	color: #acacad;
    letter-spacing: 0.3em;
    font-size: 16px;
}

#container_nfi,#container_shelter {
    height: 800px;
    width: 1350px;
    margin-left: 5em;
	margin-top: -20em;
	background: transparent;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.highcharts-title {
	color: #59585a;
    letter-spacing: 0.3em;
    font-size: 20px;
}
.highcharts-data-label {
	font-family: 'Helvetica';
	opacity:0.65;	
}

.highcharts-legend-title {
	fill: #59585a;
	font-style: bold;
	font-size: 5em;
}

.highcharts-tooltip {
	font-family: 'Arial';
	color: #acacad;
    letter-spacing: 0.3em;
    font-size: 16px;
}

#container, #container_health2 {
    height: 800px;
    width: 1350px;
    margin-left: 5em;
	margin-top: -9em;
	background: transparent;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.highcharts-title {
	color: #59585a;
    letter-spacing: 0.3em;
    font-size: 20px;
}
.highcharts-data-label {
	font-family: 'Helvetica';
	opacity:0.65;	
}

.highcharts-legend-title {
	fill: #59585a;
	font-style: bold;
	font-size: 5em;
}

.highcharts-tooltip {
	font-family: 'Arial';
	color: #acacad;
    letter-spacing: 0.3em;
    font-size: 16px;
}

#container_edu_girls, #container_edu_boys, #container_SM, #container_comms, #container_livli, #container_expen {
    height: 800px;
    width: 1350px;
    margin-left: 5em;
	margin-top: -13.5em;
	background: transparent;
		position: absolute;
		z-index: 1;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.highcharts-title {
	color: #59585a;
    letter-spacing: 0.3em;
    font-size: 20px;
}
.highcharts-data-label {
	font-family: 'Helvetica';
	opacity:0.65;	
}

.highcharts-legend-title {
	fill: #59585a;
	font-style: bold;
	font-size: 5em;
}

.highcharts-tooltip {
	font-family: 'Arial';
	color: #acacad;
    letter-spacing: 0.3em;
    font-size: 16px;
}

#chartpro1{
    height: 420px;
    width: 40%;
    margin-top: 2em;
	margin-left: 28em;
	background: transparent;
}
.highcharts-title {
    fill: #434348;
    font-weight: bold;
	    font-family: 'Arial';
		color: #59585A;
    letter-spacing: 3px;
    font-size: 12px;
}

#charthealth{
    height: 350px;
    width: 60%;
    margin-top: 2em;
	margin-left: 20em;
	background: transparent;
}
.highcharts-title {
    fill: #434348;
    font-weight: bold;
	    font-family: 'Arial';
		color: #59585A;
    letter-spacing: 3px;
    font-size: 12px;
}
.highcharts-legend-title {
	font-family: 'Arial';
	color: #acacad;
    letter-spacing: 0.3em;
    font-size: 10px;
}

#chartshelter{
    height: 400px;
    width: 50%;
    margin-top: 2em;
	margin-left: 25em;
	background: transparent;
}
.highcharts-title {
    fill: #434348;
    font-weight: bold;
	    font-family: 'Arial';
		color: #59585a;
    letter-spacing: 3px;
    font-size: 12px;
}

#textbox   {height: 100%;
    width: 49.5%;
	margin-left: 1.5em;
	margin-top: -0.2em;
	font-size: 12px;
	font-family: 'Helvetica';
	background-color: #f0f0f0;
	border-style: solid;
	border-color: #9fc9e7;
	border-width: 1px;
	opacity:0.8;
	padding: 8px;
	text-align:justify;
}

#chartDemAll, #chartDemCamp{
    height: 320px;
    width: 50%;
    margin-top: 3em;
	margin-left: 27em;
	background: transparent;
}
.highcharts-title {
    fill: #434348;
    font-weight: bold;
	    font-family: 'Arial';
		color: #59585a;
    font-size: 12px;
}
.highcharts-legend-title {
	font-family: 'Arial';
	color: #acacad;
    letter-spacing: 0.3em;
    font-size: 10px;
}

#chartsm1, #chartsm2, #chartcomms, #chartlivli, #chartlivli2, #chartlivli4{
    height: 300px;
    width: 50%;
    margin-top: 3em;
	margin-left: 27em;
	background: transparent;
}
.highcharts-title {
    fill: #434348;
    font-weight: bold;
	    font-family: 'Arial';
		color: #59585a;
    font-size: 12px;
}
.highcharts-legend-title {
	font-family: 'Arial';
	color: #acacad;
    letter-spacing: 0.3em;
    font-size: 10px;
}

#chartfoodsec, #chartfoodsec2, #chartfoodsec3,#charthealth2, #chartcomms3 {
    height: 220px;
    width: 50%;
    margin-top: 2em;
	margin-left: 27em;
	background: transparent;
}
.highcharts-title {
    fill: #434348;
    font-weight: bold;
	    font-family: 'Arial';
		color: #59585a;
    letter-spacing: 3px;
    font-size: 12px;
}
.highcharts-legend-title {
	font-family: 'Arial';
	color: #acacad;
    font-size: 10px;
}

#chartEduBoys, #chartEduGirls, #chartnfi,  #chartlivli3{
    height: 350px;
    width: 60%;
    margin-top: 3em;
	margin-left: 22em;
	background: transparent;
}
.highcharts-title {
    fill: #434348;
    font-weight: bold;
	    font-family: 'Arial';
		color: #59585a;
    letter-spacing: 3px;
    font-size: 12px;
}
.highcharts-legend-title {
	font-family: 'Arial';
	color: #acacad;
    letter-spacing: 0.3em;
    font-size: 10px;
}

#tabs{
}

.li{border-right:1px solid #d2cbb8;
	border-left:1px solid #d2cbb8;
}

.active{
    background-color: #0371c0;
    color: white;
	border-right:1.6px solid #9fc9e7;
	border-left:1.6px solid #9fc9e7;
}
a:hover{
	color: #81c3f2;	
}

#dropdown1{position: absolute;
	z-index: 99999;
	coverTrigger:false;}

.li {coverTrigger:false;height: 350px; }
=